body,
donut[theme="classic-light"]
{
	background: rgb(240,240,245);
}

body,
donut[theme="classic-light"],
donut[theme="classic-light"] button,
donut[theme="classic-light"] .button,
donut[theme="classic-light"] btn,
donut[theme="classic-light"] .btn,
donut[theme="classic-light"] input,
donut[theme="classic-light"] .input,
donut[theme="classic-light"] textarea,
donut[theme="classic-light"] .textarea,
donut[theme="classic-light"] select,
donut[theme="classic-light"] .select,
donut[theme="classic-light"] code,
donut[theme="classic-light"] .code
{
	display: block;
	color: black;
	word-wrap: break-word;
}

donut[theme="classic-light"]
{
	font-family: "Avenir Next", Avenir, Futura;
}

donut[theme="classic-light"]
{
	display: block;
	width: 100%;
	max-width: 750px;
	margin: auto;
}

donut[theme="classic-light"] *:active,
donut[theme="classic-light"] *:focus
{
	outline: none;
}

donut[theme="classic-light"] .selectable,
donut[theme="classic-light"] .selectable *
{
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

donut[theme="classic-light"] p,
donut[theme="classic-light"] .p
{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

donut[theme="classic-light"] b,
donut[theme="classic-light"] .b
{
	font-weight: bold;
}

donut[theme="classic-light"] u,
donut[theme="classic-light"] .u
{
	text-decoration: underline;
}

donut[theme="classic-light"] o,
donut[theme="classic-light"] .o
{
	text-decoration: overline;
}

donut[theme="classic-light"] i,
donut[theme="classic-light"] .i
{
	font-style: italic;
}

donut[theme="classic-light"] sub,
donut[theme="classic-light"] .sub,
donut[theme="classic-light"] sup,
donut[theme="classic-light"] .sup
{
	font-size: 0.65em;
}

donut[theme="classic-light"] sub,
donut[theme="classic-light"] .sub
{
	vertical-align: sub;
}

donut[theme="classic-light"] sup,
donut[theme="classic-light"] .sup
{
	vertical-align: super;
}

donut[theme="classic-light"] h1,
donut[theme="classic-light"] .h1,
donut[theme="classic-light"] h2,
donut[theme="classic-light"] .h2,
donut[theme="classic-light"] h3,
donut[theme="classic-light"] .h3
{
	font-weight: bold;
	margin: 5px 0;
}

donut[theme="classic-light"] h1,
donut[theme="classic-light"] .h1,
donut[theme="classic-light"] h2,
donut[theme="classic-light"] .h2
{
	border-bottom: 1px solid;
}

donut[theme="classic-light"] h1,
donut[theme="classic-light"] .h1
{
	font-size: 2em;
}

donut[theme="classic-light"] h2,
donut[theme="classic-light"] .h2
{
	font-size: 1.6em;
}

donut[theme="classic-light"] h3,
donut[theme="classic-light"] .h3
{
	font-size: 1.2em;
}

donut[theme="classic-light"] button,
donut[theme="classic-light"] .button,
donut[theme="classic-light"] btn,
donut[theme="classic-light"] .btn
{
	display: inline-block;
	font-weight: bold;
	font-size: 0.85em;
	background: rgb(155,155,155,0.1);
	border: 1px solid transparent;
	border-radius: 8px;
	margin: 2px;
	padding: 3px 8px;
	transition: 200ms;
}

donut[theme="classic-light"] button:hover,
donut[theme="classic-light"] .button:hover,
donut[theme="classic-light"] btn:hover,
donut[theme="classic-light"] .btn:hover
{
	border: 1px solid black;
}

donut[theme="classic-light"] button:active,
donut[theme="classic-light"] .button:active,
donut[theme="classic-light"] btn:active,
donut[theme="classic-light"] .btn:active
{
	background: none;
	border-color: transparent;
}

donut[theme="classic-light"] a,
donut[theme="classic-light"] .a
{
	display: inline;
	color: rgb(50,150,255);
	font-weight: bold;
	transition: 200ms;
}

donut[theme="classic-light"] a:hover,
donut[theme="classic-light"] .a:hover
{
	color: rgb(50,150,255);
	text-decoration: underline;
	background: none;
}

donut[theme="classic-light"] a:active,
donut[theme="classic-light"] .a:active
{
	color: white;
	background: rgb(50,150,255);
}

donut[theme="classic-light"] img,
donut[theme="classic-light"] .img
{
	max-width: 100%;
	border-radius: 5px;
}

donut[theme="classic-light"] ::placeholder
{
	color: rgba(155,155,155,0.8);
}

donut[theme="classic-light"] input,
donut[theme="classic-light"] .input,
donut[theme="classic-light"] textarea,
donut[theme="classic-light"] .textaea
{
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	display: inline-block;
	resize: none;
	background: rgba(155,155,155,0.15);
	color: inherit;
	text-align: center;
	margin: 3px;
	padding: 2px 8px;
}

donut[theme="classic-light"] input,
donut[theme="classic-light"] .input
{
	border-radius: 10px;
}

donut[theme="classic-light"] textarea,
donut[theme="classic-light"] .textarea
{
	border-radius: 3px;
}

donut[theme="classic-light"] ::marker
{
	width: 20px;
	font-weight: bold;
}

donut[theme="classic-light"] ol > ol > li,
donut[theme="classic-light"] ul > ul > li
{
	margin: 10px 0px 10px 40px;
}

donut[theme="classic-light"] ol > ol > ol > li,
donut[theme="classic-light"] ul > ul > ul > li
{
	margin: 10px 0px 10px 60px;
}

donut[theme="classic-light"] ol > ol > ol > ol > li,
donut[theme="classic-light"] ul > ul > ul > ul > li
{
	margin: 10px 0px 10px 80px;
}

donut[theme="classic-light"] li
{
	margin: 10px 0px 10px 20px;
}

donut[theme="classic-light"] table
{
	display: block;
	border-collapse: collapse;
	max-width: 100%;
	overflow: scroll;
}

donut[theme="classic-light"] th,
donut[theme="classic-light"] td
{
	text-align: center;
	border: 1px solid;
	padding: 5px;
}

donut[theme="classic-light"] tr:first-child > th,
donut[theme="classic-light"] tr:first-child > td
{
	border-top: none;
}

donut[theme="classic-light"] tr:last-child > th,
donut[theme="classic-light"] tr:last-child > td
{
	border-bottom: none;
}

donut[theme="classic-light"] th:first-child,
donut[theme="classic-light"] td:first-child
{
	border-left: none;
}

donut[theme="classic-light"] th:last-child,
donut[theme="classic-light"] td:last-child
{
	border-right: none;
}

donut[theme="classic-light"] th
{
	font-weight: bold;
	border-color: black;
}

donut[theme="classic-light"] td
{
	border-color: rgb(155,155,155,0.3);
}

donut[theme="classic-light"] code,
donut[theme="classic-light"] .code,
donut[theme="classic-light"] code > *,
donut[theme="classic-light"] .code > *
{
	font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Menlo;
}

donut[theme="classic-light"] code,
donut[theme="classic-light"] .code
{
	display: inline-block;
	max-width: calc(100% - 10px);
	background: rgba(155,155,155,0.1);
	font-size: 0.8em;
	white-space: nowrap;
	border-radius: 4px;
	margin: 5px 0;
	padding: 3px 5px;
	vertical-align: -0.8em;
	overflow: scroll;
}

donut[theme="classic-light"] code > red,
donut[theme="classic-light"] .code > red
{
	color: rgb(255,0,0);
}

donut[theme="classic-light"] code > orange,
donut[theme="classic-light"] .code > orange
{
	color: rgb(230,140,0);
}

donut[theme="classic-light"] code > yellow,
donut[theme="classic-light"] .code > yellow
{
	color: rgb(200,200,0);
}

donut[theme="classic-light"] code > lime,
donut[theme="classic-light"] .code > lime
{
	color: rgb(20,210,20);
}

donut[theme="classic-light"] code > green,
donut[theme="classic-light"] .code > green
{
	color: rgb(0,150,0);
}

donut[theme="classic-light"] code > aqua,
donut[theme="classic-light"] .code > aqua
{
	color: rgb(50,150,255);
}

donut[theme="classic-light"] code > blue,
donut[theme="classic-light"] .code > blue
{
	color: rgb(0,25,200);
}

donut[theme="classic-light"] code > gray,
donut[theme="classic-light"] .code > gray
{
	color: rgb(200,200,200);
}

donut[theme="classic-light"] note,
donut[theme="classic-light"] .note
{
	display: inline-block;
	background: rgba(255,255,0,0.2);
	color: rgb(200,200,0);
	border-left: 1px solid rgb(200,200,0);
	border-radius: 0 6px 6px 0;
	margin: 2px 0;
	padding: 2px 6px;
}

donut[theme="classic-light"] note[type="comment"],
donut[theme="classic-light"] .note[type="comment"]
{
	background: rgba(200,200,200,0.2);
	color: rgb(155,155,155);
	border-color: rgb(155,155,155);
}

donut[theme="classic-light"] note[type="info"],
donut[theme="classic-light"] .note[type="info"]
{
	background: rgba(100,200,255,0.2);
	color: rgb(50,150,255);
	border-color: rgb(50,150,255);
}

donut[theme="classic-light"] note[type="warning"],
donut[theme="classic-light"] .note[type="warning"]
{
	background: rgba(255,200,0,0.2);
	color: rgb(255,155,0);
	border-color: rgb(255,155,0);
}

donut[theme="classic-light"] note[type="critical"],
donut[theme="classic-light"] .note[type="critical"]
{
	background: rgba(255,50,20,0.2);
	color: rgb(255,50,20);
	border-color: rgb(255,50,20);
}
